<div class="wrapper">
  <header class="header">
    <div class="header__wrapper">
      <div class="header__logo">
        <img
          src="../assets/icons/lightbulb-regular.svg"
          alt=""
          style="width: 16px"
        />Александр Сервис
      </div>
      <nav class="header__nav">
        <a
          [href]="item.scroll"
          class="header__nav__item"
          *ngFor="let item of navigation"
        >
          {{ item.value }}
        </a>
        <a class="header__nav__item" href="tel:+7 951 546 85 91">
          <img
            src="../assets/icons/phone-solid.svg"
            alt=""
            style="width: 14px"
          />
          +7 951 546 85 91
        </a>
      </nav>
    </div>
  </header>
  <section class="intro">
    <div class="intro__blur"></div>
    <div class="intro__wrapper">
      <h1 class="intro__title">Услуги Электрика</h1>
      <h2 class="intro__subtitle">
        Монтаж или замена электропроводки. Подключение и установка различных
        электроприборов
      </h2>
      <button
        type="button"
        class="intro__button"
        [swal]="orderSwal"
        [disabled]="loading"
      >
        Оставить заявку сейчас
      </button>
    </div>
  </section>
  <section class="advantages" id="advantages">
    <div class="advantages__wrapper">
      <h2 class="advantages__title">Преимущества работы</h2>
      <h2 class="advantages__subtitle">
        Причины, по которым клиенты обращаются именно ко мне
      </h2>
      <div class="advantages__grid">
        <div class="advantages__item" *ngFor="let item of advantages">
          <img [src]="item.img" alt="" class="advantages__item__img" />
          <div class="advantages__item__content">
            <div class="advantages__item__title">{{ item.title }}</div>
            <div class="advantages__item__subtitle">{{ item.subtitle }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="preview">
    <div class="preview__left">
      <h2 class="preview__title">Вызовите электрика на дом</h2>
      <h2 class="preview__subtitle">
        Чтобы вызвать квалифицированного специалиста для проведения
        электромонтажных работ, оставьте заявку на сайте или позвоните по номеру
        <strong style="font-weight: 500">+7 951 546 85 91</strong>
      </h2>
      <div class="preview__button" [swal]="orderSwal">Связаться</div>
    </div>
    <img src="../assets/preview/preview.jpg" alt="" class="preview__right" />
  </section>
  <section class="services" id="services">
    <div class="services__wrapper">
      <h2 class="services__title">Услуги, которые я предлагаю</h2>
      <h2 class="services__subtitle">
        Выберите услугу, в оказании которой вы нуждаетесь
      </h2>
      <div class="services__grid">
        <div class="services__item" *ngFor="let item of services">
          <img [src]="item.img" alt="" class="services__item__img" />
          <div class="services__item__content">
            <div class="services__item__title">{{ item.title }}</div>
            <div class="services__item__subtitle">{{ item.description }}</div>
            <div class="services__item__price">{{ item.price }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contacts" id="contacts">
    <div class="contacts__left">
      <h2 class="contacts__title">Напишите мне</h2>
      <h2 class="contacts__subtitle">
        Задайте свой вопрос и я обязательно свяжусь с вами
      </h2>
      <form class="contacts__form" [formGroup]="order">
        <div class="contacts__form__field">
          <input
            type="text"
            class="contacts__form__input"
            placeholder="Имя"
            required="required"
            formControlName="name"
          />
          <img
            src="../assets/icons/warning.svg"
            alt=""
            class="validation__error"
            title="Неверно указано имя (Минимум 3 символа)"
            *ngIf="order.get('name')?.invalid && order.get('name')?.touched"
          />
        </div>
        <div class="contacts__form__field">
          <input
            type="text"
            pattern="[+)( .-]*[0-9]+[0-9+)( .-]*"
            required="required"
            class="contacts__form__input"
            placeholder="Номер телефона"
            formControlName="phone"
          />
          <img
            src="../assets/icons/warning.svg"
            alt=""
            class="validation__error"
            title="Неверно указан номер телефона"
            *ngIf="order.get('phone')?.invalid && order.get('phone')?.touched"
          />
        </div>
        <label class="switch">
          <input type="checkbox" formControlName="haveWhatsApp" />
          <span class="slider"></span>
          Есть WhatsApp?
        </label>
        <button
          type="button"
          [disabled]="this.order.invalid || loading"
          class="contacts__form__button"
          (click)="submit()"
        >
          Написать
        </button>
      </form>
    </div>
    <img src="../assets/contacts/1.jpg" alt="" class="contacts__right" />
  </section>
  <footer class="footer">
    <div class="footer__wrapper">
      <div class="footer__logo"><img
        src="../assets/icons/lightbulb-regular.svg"
        alt=""
        style="width: 16px"
      />Александр Сервис</div>
      <div class="footer__contacts">
        <a class="footer__contacts__phone" href="tel:+7 951 546 85 91">
          <img
            src="../assets/icons/phone-solid.svg"
            alt=""
            style="width: 18px"
          />
          +7 951 546 85 91
        </a>
        <div class="footer__contacts__list">
          <a
            class="footer__contacts__list__item"
            *ngFor="let item of contacts"
            [href]="item.href"
            [title]="item.hint"
            target="_blank"
          >
            <img [src]="item.icon" alt="" style="width: 20px; height: 20px" />
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
<swal
  #orderSwal
  [swalOptions]="{ showConfirmButton: false, allowOutsideClick: false }"
>
  <form class="form" *swalPortal="undefined" [formGroup]="order">
    <h2 class="form__title">Оставьте заявку</h2>
    <img
      src="../assets/icons/close.svg"
      alt=""
      class="close__icon"
      (click)="orderSwal.close()"
    />
    <div class="form__field">
      <input
        type="text"
        class="form__input"
        placeholder="Имя"
        required="required"
        formControlName="name"
      />
      <img
        src="../assets/icons/warning.svg"
        alt=""
        class="validation__error"
        title="Неверно указано имя (Минимум 3 символа)"
        *ngIf="order.get('name')?.invalid && order.get('name')?.touched"
      />
    </div>

    <div class="form__field">
      <input
        type="text"
        pattern="[+)( .-]*[0-9]+[0-9+)( .-]*"
        required="required"
        class="form__input"
        placeholder="Номер телефона"
        formControlName="phone"
      />
      <img
        src="../assets/icons/warning.svg"
        alt=""
        class="validation__error"
        title="Неверно указан номер телефона"
        *ngIf="order.get('phone')?.invalid && order.get('phone')?.touched"
      />
    </div>
    <label class="switch">
      <input type="checkbox" formControlName="haveWhatsApp" />
      <span class="slider"></span>
      Есть WhatsApp?
    </label>
    <button
      type="button"
      class="form__button"
      (click)="submit()"
      [disabled]="this.order.invalid || loading"
    >
      Написать
    </button>
  </form>
</swal>
